:root {
  /* --ligth-green: #4fc883;
  --bg-color: #fefaf5;
  --lavender-color: #985fe0;
  --dark-color: #2d2430;
  --nav-bar: #d6ccc2;
  --dark-cream: #d6ccc2;
  --ligth-cream: #e3d5ca;
  --accent-color: #d5bdaf; */

  --lavender-web: #d9dbf1ff;
  --french-gray: #d0cdd7ff;
  --french-gray-2: #acb0bdff;
  --dark-slate-gray: #416165ff;
  --midnight-green: #0b3948ff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Open Sans", sans-serif;

  background-color: var(--bg-color);
  color: var(--dark-color);
}

ul {
  list-style: none;
}
