:root {
  --ligth-green: #4fc883;
  --ligth-color: #fcf1f2;
  --lavender-color: #985fe0;
  --dark-color: #2d2430;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
}

ul {
  list-style: none;
}
