.profile-dropdown {
  position: absolute;
  width: 150px;
  right: -53px;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  align-items: stretch;
  justify-content: space-between;
  border: 1px solid var(--lavender-web);
  border-radius: 8px;
  background: rgb(11, 57, 72);
  background: linear-gradient(
    180deg,
    rgba(11, 57, 72, 1) 21%,
    rgba(28, 111, 139, 1) 100%
  );
}

.dropdown {
  position: relative;
  display: inline-block;
}

.hidden {
  display: none;
}

.navigation-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--midnight-green);
  height: 130px;
}

.search-bar {
  width: 50%;
}

.search-bar input {
  padding: 8px 15px;
  border-radius: 40px;
  width: 100%;
  border: none;
  outline: none;
}

.profile-btn {
  background-color: transparent;
  border: none;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
  font-size: 3rem;
  cursor: pointer;
  color: #86c5ce;
  transition: color 0.2s ease-in-out;
}
.material-symbols-outlined:hover {
  color: var(--lavender-web);
}

.logout-btn,
.create-new-btn {
  border: none;
  background-color: transparent;
  margin: 10px 10px 10px 0;
  font-size: 1rem;
  color: #4fc883;
  cursor: pointer;
}

.create-new-btn {
  font-size: 0.9rem;
  color: var(--lavender-color);
  text-decoration: none;
}

.logout-btn:hover,
.create-new-btn:hover {
  text-decoration: underline;
}
