.home-page {
  width: 100%;
  text-align: center;
  height: 500px;
  background-color: var(--lavender-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homepage-content {
  display: flex;
  height: 60%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.homepage-content h1 {
  font-size: 3rem;
  font-weight: 600;
}
